body{
background: linear-gradient(1deg, rgba(136, 136, 206, 0.7),
rgba(136, 136, 206, 0.7));

}
label{
display: block;
}
.option{
display: inline;
}
input[type='checkbox']{
display: inline;
}




